.root {
	background-image: url("../../../../assets/board.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: calc(100vw / 1.71);
	position: relative;
}

.board {
	display: grid;
	grid-template-columns: auto auto auto;
	position: absolute;
	width: 50.3vw;
	height: 50.3vw;
	top: 4.3vw;
	left: 25.1vw;
}

.boardPlate {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	cursor: pointer;
}
.boardPlate:hover {
	background: rgba(255, 255, 255, 0.1);
}
.boardPlate.disabled:hover {
	background: none;
}

.card {
	max-height: 14.8vw;
	margin-top: -6vw;
}

.card:first-child {
	margin-top: 0;
}
.playerOne {
	position: absolute;
	top: 4.3vw;
	left: 5%;
	width: 18vw;
	height: 50.3vw;
}

.playerTwo {
	position: absolute;
	top: 4.3vw;
	right: 5%;
	width: 18vw;
	height: 50.3vw;
}

.game-button {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px 15px;
	margin: 0 auto;
	border-radius: 4px;
	border: none;
	background-color: rgb(220, 57, 206);
	cursor: pointer;
	transition: background-color 0.3s ease;
	text-transform: uppercase;
	color: #000;
}

.game-button:hover {
	color: #000;
	background-color: rgb(253, 85, 239);
}
