.wrapper {
	min-height: calc(100vh - 100px);
	padding: 96px 32px 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.text {
	font-family: Arial;
	font-size: 24px;
	margin-bottom: 15px;
}

.switch-button {
	padding: 5px 10px;
	border-radius: 4px;
	border: none;
	background-color: rgb(230, 97, 219);
	cursor: pointer;
}

.switch-button:hover {
	background-color: rgb(220, 57, 206);
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 96px 32px 24px;
}
